* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    background: #fff;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}
a, a:hover {
    text-decoration: none;
}
.title__h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico';
}
.title__h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}











.deliciousness {
    position: relative;
    z-index: 1;
}
.deliciousness:before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.deliciousness_item {
    max-width: 700px;
    margin: 0 auto;
}
.deliciousness_item h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}
.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn-white:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #ff6600;
}
.btn-style, .btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    opacity: 0.8;
}


/* numberRun */
.numberRun {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}
.numberRun__item {
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;
    text-align: center;
    transition: .3s;
}
.numberRun__item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s;
}
.numberRun__item p {
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
}
.icon__numberRun i.fas,
.icon__numberRun i.far {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}
.numscroller {
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
}

/* videoDinner */
.new-block {
    background: #fff;
}
.bg_video {
    background: url(/img/banner3.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}
.bg_video:before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 6px;
}
.videoDinner span.video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #ff6600;
    border: transparent;
    background: #fff;
}
.videoDinner span.video-play-icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    background: #ff6600;
    border: transparent;
    color: #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


/* blogPosts */
.blogPosts {
    background: #f7f7f7;
}
.blogPosts .card {
    background-color: transparent;
    border: none;
}
.blogPosts img {
    width:100%;
    border-radius: 6px;
}
.blogPosts .infor_time a {
    background: #ff6600;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: .05em;
}
.infor_time {
    margin-top: -40px;
    margin-left: 10px;
}
.blogPosts_time {
    opacity: 1;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: .02em;
}
.blogPosts .chef {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.blogPosts .chef_infor {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}
.blogPosts .chef_infor a {
    font-weight: 700;
    color: #232121;
    letter-spacing: .02em;
}
.chef_img img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}
.blogPosts a.chef_read {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    color: #232121;
    opacity: .9;
}
.blogPosts a.chef_read:hover {
    color: #ff6600;
}
.blogPosts .card_text>a {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #232121;
    margin-top: 25px;
    margin-bottom: 15px;
    transition: .3s ease;
}


/* Testimonials */
.owl-theme .owl-dots {
    margin-top: 0px;
    text-align: center;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6600;
}
.testimonials .testimonial-content {
    max-width: 700px;
    margin: auto;
}
.testimonials .testimonial a {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.testimonials .testimonial img {
    width: 100%;
    min-height: 100%;
}
.testimonials blockquote q {
    font-size: 24px;
    line-height: 36px;
    color: #232121;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
}
.testimonials blockquote p {
    font-size: 50px;
    color: #ff6600;
    display: block;
    font-family: initial;
}
.testimonials .testimonial .people-info h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}


/* footer */
.footer {
    background-color: black;
}

.footer h2 a {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 26px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.footer h2 a:hover {
    color: #ff6600;
}
.footer p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}
.social_network a {
    background:white;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    color: #ff6600;

    transition: 0.3s;
}
.social_network a:hover {
    background: #ff6600;
    color: white;
}
.footer h6 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
        font-weight: 700;
        position: relative;
        color: #fff;
}
.footer ul li {
    list-style: none;
    margin-bottom: 10px;
}
.footer ul li a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}
.footer ul li a:hover {
    color:#ff6600;
}
.footer input[type="email"] {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.7);
    background: #fff;
    border-radius: 6px;
}
.link {
    color:#ff6600
}
.link:hover {
    color:#fff;
}
.footer #movetop {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #ff6600;
    padding: 0;
    line-height: 36px;
    border-radius: 35px;
    transition: 0.3s ease-out;
}



@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
    }
}
