*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    background: #232220;
    color: #c2d0da;
    font-family: 'Quicksand', sans-serif;
}
a {
    color: #ff6600;
    text-decoration: none;
    background-color: transparent;
}
p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: #c2d0da;
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: 'Quicksand', sans-serif;
}
.title  {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}
.sub-title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #282828;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.container{
    width: 1140px;
    height: auto;
}

/* HEADER */
.header {
    background-size: cover;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../images/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}

.header_menu {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}
.header_logo >h1>a{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.header-right-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
.header-right-content .search-bar {
    display: flex;
}
.header-right-content .search-bar .search .search_input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: #c2d0da;
    border: none;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
    right: 0;
    background: black;
    outline: 0;
    border: 1px solid black;
}
.header-right-content .search-bar .search .search__icon {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}
.theme-switch {
    display: inline-block;
    position: relative;
    margin: 0;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.mode-transfer {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}
button#trigger-overlay {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #fbfdfb;
    font-size: 1.95em;
    padding: 0 8px;
}
.theme-switch input {
    display: none;
}
.header .header_info {
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}
.header .header_info >h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
.header .header_info> p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    padding-right: 3rem;
}
.btn-white {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
}
.btn-white:hover {
    background-color: white;
    color: orange;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(6 3 0 / 77%);
}
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;
}

button#trigger-overlay {
	outline: none;
	border: none;
	background: none;
	text-align: center;
	color: #fbfdfb;
	font-size: 1.95em;
	padding: 0 8px;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	backface-visibility: hidden;
    line-height:3em;
}
.overlay ul li a {
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #fff;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color:#ff6600;
}

.overlay-scale {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.9);
}
.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
/* About Us */
.aboutUs {
    padding: 3rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.aboutUs_title .col-lg-7>p {
    padding-left: 3rem;
}
/* Block */
.block {
    background: #ff6600;
}
.container2 {
    width: 100%;
}
.block .row {
    align-items: center;
}
.block_image {
    background-image: url(../images/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    min-height: 600px;
}
.block_image::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.block_info {
    padding:3rem;
}
.block_info> h6 {
    color: white;
}
.block_info>p {
    color: #ffdfc9;
    margin-top:1rem;
    margin-bottom:1rem;
}
.block_subcribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 30px;
}
.block_subcribe .icon {
    background: #fff;
}
.icon span.fa {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
    transition: .3s ease;
}
.block_subcribe_content .content_a {
    display: block;
    color: #eee;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
}
.block_subcribe_content .content_a:hover {
    opacity: 0.9;
}
.block_subcribe_content:hover .icon {
    transition: 0.3s ease-in-out;
}
.block_subcribe_content:hover .icon span.fa {
    color: #ffc600;
    transition: 0.3s ease-in-out;
}


/* gallery */
.gallery {
    background-color: #282828;
    padding: 3rem 0 3rem 0;
}

.gallery_title {
    text-align: center;
}
.gallery_title > h3 {
    margin-bottom: 3rem;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.gallery .gallery_image {
    position: relative;
}
.gallery .gallery_image img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}
.gallery .gal-slide-grid .gallery_info {
    opacity: 1;
    transition: all 0.4s;
}
.gallery .gallery_info {
    left: auto;
    bottom: 0;
    width: 95%;
    padding: 3rem;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}
.gallery img:hover {
    opacity: 0.85;
    transition: all 0.4s;
}
.gallery .content-left-sec a h4 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
.gallery .content-left-sec h6 {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    opacity: 0.9;
}
.gallery .gallery_info span {
    font-weight: 600;
    color: #ffc600;
    font-size: 18px;
    letter-spacing: 1px;
}
.pt-lg-2, .py-lg-2 {
    padding-top: 0.5rem;
}
/* Services */
.services {
    position: relative;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.service_box_content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}
.service_box {
    padding: 40px 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    position: relative;
    border: 1px solid #ffffff1a;
}
.service_box h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #eee;
    transition: 0.3s ease-in-out;
}
.service_box h4 a:hover{
    color: #ff6600;
}
.service_box p {
    margin:0;
}
.icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #282828;
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    color: #ff6600;
}
.service_box:hover .icon {
    background-color: #ff6600;
    transition: 0.3s ease-in-out;
}
.service_box:hover .icon span.fa {
    color: #fff;
    transition: 0.3s ease-in-out;
}
.service_box .icon span.fa {
    color: white;
    font-size: 25px;
    line-height: 70px;
  }
  






  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }